.ja-details-sidebar{
    background-color: #fff;
    padding: 10px;
    border: 1.2px solid #185AF5;
    border-radius: 12px;
}

.ja-details-sidebar .accordion-item{
    background-color: transparent;
    border: unset !important;
}

.ja-details-sidebar .accordion-button{
    font-family: var(--fontFamily);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: var(--black2) !important;
    background-color: unset !important;
    box-shadow: unset !important;
    padding: 10px;
}

.ar-book-list-title .accordion-button{
    font-family: var(--fontFamily);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--black4) !important;
    padding: 0;
}

.ar-book-list-title .accordion-button::after {
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
}

.lm-ar-accordion-lists {
    margin-bottom: 5%;
}

.back-to-ja svg{
    color: #185AF5;
}

.back-to-ja a{
    font-family: var(--fontFamily);
    margin-left: 3%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #185AF5;
    text-decoration: none;
}

.back-to-ja a:hover{
    color: var(--primaryColorHover);
}

.ja-details-card {
    background-color: #fff;
    padding: 10px;
    border-radius: 12px;
}

.ja-details-card h1{
    font-family: var(--fontFamily);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--black1);
    width: 100%;
    padding-bottom: 2%;
    border-bottom: 1px solid #EAECF0;
}

.ja-card-de-auth{
    border-bottom: 1px solid #EAECF0;
}

.ja-card-de-auth h3{
    font-family: var(--fontFamily);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--black5);
}

.ja-card-de-auth p{
    font-family: var(--fontFamily);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: var(--black2);
}

.ja-card-desc p{
    font-family: var(--fontFamilyMonrope);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: var(--black2);
}

.ja-card-share {
    position: relative;
    top: 20%;
}

.ja-card-share button {
    margin-bottom: 10%;
}

img.countryFlag {
    width: 15px;
    height: 12px;
    position: relative;
    left: -5px;
    top: -2px;
}

.ja-auth-card{
    background: url(../../../../../assets/images/border-line.png) top right no-repeat;
}

.ja-auth-card:last-child{
    background: unset;
}

@media screen and (max-width: 768px) {
    .ja-details-card h1 {
        font-size: 22px;
        line-height: 30px;
    }
    
    .ja-card-share button {
        margin-left: 2%;
    }

    .ja-auth-card:nth-child(3){
        background: unset;
    }

    .article-list h1 {
        font-size: 16px;
        line-height: 24px;
    }

    .article-list p {
        font-size: 12px;
        line-height: 20px;
    }

    .article-list h3 {
        font-size: 12px;
        line-height: 20px;
    }

    .ja-card-desc p{
        font-size: 14px;
        line-height: 24px;
    }
}